.carousel-item {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-attachment: fixed;
    transition: transform 0.5s ease;
  }
  
  .carousel-item:hover .carousel-image {
    transform: scale(0.9);
  }
  
  .carousel-overlay {
    position: absolute;
    top: 46%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .carousel-item:hover .carousel-overlay {
    opacity: 1;
  }
  