.dropdown-menu ul li a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu ul li a:hover {
    background-color: #f5f5f5;
  }
  